table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 20%;
}

th, td {
  text-align: center;
  padding: 15px;
}

tr:nth-child(even) {background-color: #ffd7d7;}


.center {
  margin-left: auto;
  margin-right: auto;
}
